*{
    margin: 0%;
font-family:Arial;
}



/*box1*/

.navbar{
    height: 60px;
    background-color: black;
    color: aliceblue;  
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{ 
    height: 50px;
    width: 100px;
    border: border-box;
}
.logo{
    background-image:url("img/download.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    text-align: center;
}
.border{
    border: 5px solid transparent;
}
.border:hover{
border:1px solid rgb(211, 211, 103);
}



/*box 2*/

.add-fir{
color: #cccccc;
font-size: 0.85rem;
margin-left: 12px;
}
.add-sec{
    color: white;
    font-size: large;
    margin-left: 3%;
}
.address-icon{
    display: flex;
    align-items: center;
    margin-left: 3%;
}


/*box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 1000px;
    height: 40px;
    margin-left: 1%; 
    border-radius: 3px ;

}

.nav-search:hover{
    border:2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px; 
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}
.search-input{
    width: 900px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
   justify-content: center; /*horizol centre*/
   align-items: center; /*vertical centre*/
   font-size: large;
   background-color:orange;
   border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:black;
}


/*box4*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box*/
.navcard i{
    font-size: 30px;
}
.navcard{
    font-size: 0.85rem;
    font-weight: 700;
}



/*panel*/
.panel{
    height: 40px;
    background-color: rgb(50, 48, 48);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    
}

.panel-option p{
    display: inline;
    margin-left: 40px;
}
.panel-option{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deal{
    font-size: 0.9rem;
    font-weight: 700;
}




/**Hero section**/
.hero-section{
    background-image: url("img/Frame_4._CB551381047_.png");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items:flex-end ;
}

    .hero-msg{
height: 40px;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
width: 80%;
margin-bottom: 25px;
border-radius: 2px;
 }
 .hero-msg a{
    color: 7185px;
 }



 /*shop section*/


 .shop-sec{
display: flex;
justify-content: space-evenly;
padding-top: 30px;
background-color: rgb(229, 227, 227);
 }

 .box{
    border:2px;
height: 400px;
width: 23%;
background-color: yellow;
background-color: white;
padding: 20px 0px 15px;
 }

.box-img{
    height: 325px;
    background-size: cover;
    
}
.box-con{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-con p {
    align-items:flex-end;
    color:grey;
    font-size: large;
    font-weight: 700;
}



footer{
    margin-top: 15px;
}


.foot-panel1{

    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-style:unset;

}


.foot-panel2{
background-color: #222f3d;
color: white;
height: 300px;
display: flex;
font-size: large;
font-weight: 700;
justify-content: space-evenly;

}
ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
    font-style: unset;
    
}
.foot-panel2 h2{
margin-top: 20px;
font-weight: 700;
}


.panel3{
    background-color:black;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
     justify-content: center;

}

.last-logo{
    background-image:url("img/download.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.panel4{
    background-color: rgb(51, 50, 50);
    color:white;
height: 100px;
}
.pages{
    padding-top: 25px;
font-size: 20px;
text-align: center;
font-weight: 700;
}
.copy-right{
    padding-top: 5px;
font-size: 20px;
  text-align: center;
}